.banner {
  background: url("../images/banner/banner.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;

  .banner-content {
    padding: 250px 0 220px 0;

    h2 {
      font-size: 100px;
      line-height: 100px;
    }

    p {
      font-size: 17px;
    }
  }

  .banner-img {
    position: absolute;
    content: "";
    bottom: 0;
    right: 17%;

    @media(max-width: 1400px) {
      right: 10%;
    }

    @include desktop-lg {
      right: -10%;
    }
  }
}

/* Additional Media Query for Mobile Devices */
@media (max-width: 768px) {
  .banner {
    /* Adjust the padding to reduce the vertical space on mobile */
    .banner-content {
      padding: 120px 0; /* Reduced padding for smaller screens */
    }

    h2 {
      font-size: 10px; /* Smaller font size for the heading on mobile */
      line-height: 60px;
    }

    p {
      font-size: 10px; /* Slightly smaller font size for the paragraph */
    }
    
    /* Optionally, adjust the banner image positioning or hide it */
    .banner-img {
      /* Example: Hide the image on smaller screens */
      display: none;
    }
  }
}

/* Existing styles for .banner */

@media (max-width: 768px) {
  .banner {
    /* Adjustments for mobile devices */
    .banner-content {
      padding: 120px 0; /* Example padding adjustment for smaller screens */
    }

    h2 {
      font-size: 30px; /* Smaller font size for headings on mobile */
      line-height: 40px; /* Adjust line-height accordingly */
    }

    p {
      font-size: 12px; /* Smaller font size for paragraphs on mobile */
    }

    /* Other adjustments for .banner on mobile */
  }
}


// Banner-2 Style

.banner-2 {
  overflow: hidden;
  padding-top: 50px;

  .banner-content-2 {
    padding: 180px 0px 120px 0px;
    @include desktop-lg {
      padding: 150px 0 100px 0;
    }

    h2 {
      font-size: 60px;
      line-height: 70px;
      @include desktop-lg {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, .7);
    padding-right: 55px;
    font-size: 17px;
  }

  .btn:hover {
    background: $white;
    color: $black !important;
  }
}


@include mobile-xs {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }
}

@include mobile-xs {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }
}

@include desktop {
  .banner .banner-content h2 {
    font-size: 85px;
    line-height: 100px;
  }

  .about-banner {
    background-position: 40% 50%;
  }
}